@import './tailwind.scss';
@import './special.scss';

html,
body,
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
  text-align: center;
  color: #2c3e50;
}

// * {
//   box-sizing: border-box;
// }
