.el-form {
  .el-form-item {
    height: 32px;
    margin: 0;
    .el-input__inner,
    .el-input {
      height: 32px;
      line-height: 32px; //必须设置行高
    }
    .el-form-item__label {
      line-height: 32px;
      height: 32px;
      font-weight: 700;
      white-space: nowrap;
    }
    .el-form-item__content {
      // display: flex;
      height: 32px;
      line-height: 32px; //必须设置行高
    }
  }
  .el-select .el-input .el-select__caret {
    height: 32px;
    line-height: 32px;
  }
}

.el-dialog {
  // 覆盖以上表单样式
  border: 5px solid #00acac;
  .el-dialog__header {
    display: flex;
    align-content: center;
    background-color: #00acac;
    padding: 10px;
    .el-dialog__title {
      color: #fff;
      font-size: 14px;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }
    .el-dialog__headerbtn {
      top: 10px;
    }
  }
  .el-dialog__body {
    .el-form {
      .el-form-item {
        margin-bottom: 22px;
        height: auto;
        .el-form-item__content {
          height: auto;
        }
      }
    }
  }
}

.el-table {
  border: none;
  .cell {
    padding: 10px 0 !important;
    // height: fit-content;
    height: auto;
    border: none;
  }
  .el-table__cell {
    padding: 0;
  }
}

.pagination-container.hidden {
  display: none;
}

// 加载中svg居中
.el-loading-mask.is-fullscreen .el-loading-spinner .circular {
  margin: auto;
}

/*隐藏滚动条*/
.hidden-scrollbar {
  -ms-overflow-style: none;
  /* IE 10+ 隐藏滚动条*/
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
// 按钮样式
.el-button {
  padding: 7px 15px;
  font-size: 12px;
}
// 搜索
.searchBtn {
  color: #fff;
  background-color: #00acac;
}

.resetBtn {
  color: #333;
  background-color: #fff;
}

.addBtn {
  color: #00acac;
  background-color: #e6f7f7;
}

.confirmBtn {
  color: #fff;
  background-color: #33bdbd;
}

.addBtn {
  background-color: #e6f7f7;
  &:hover {
    color: #fff;
    background-color: #00acac;
  }
}

.expandCollapseBtn {
  background-color: #f4f4f5;
  &:hover {
    color: #fff;
    background-color: #909399;
  }
}
